body {
  background-color: #073b4c;
  color: #118ab2;
}

.modal-footer {
  background-color: #ef476f;
}

.modal-body {
  background-color: #ffd166;
}

.modal-header {
  background-color: #06d6a0;
}

.page-content {
  background: rgb(6, 214, 160);
  background: linear-gradient(
    180deg,
    rgba(6, 214, 160, 1) 0%,
    rgba(255, 209, 102, 1) 37%,
    rgba(239, 71, 111, 1) 100%
  );
  min-height: 100vh;
}

.event-card {
  background: rgb(6, 214, 160);
  background: linear-gradient(
    180deg,
    rgba(6, 214, 160, 1) 0%,
    rgba(255, 209, 102, 1) 37%,
    rgba(239, 71, 111, 1) 100%
  );
  max-height: 55vh;
}
