body {
  background-color: #118ab2;
  color: #073b4c;
  font-family: "Ephesis", cursive;
}

.navbar-brand {
  background: -webkit-linear-gradient(#06d6a0, #ffd166, #ef476f);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

a {
  color: #073b4c;
}

a:hover {
  color: #06d6a0;
}

a:visited {
  color: #ffd166;
}

.modal-footer {
  background-color: #ef476f;
  font-size: xx-large;
}

.modal-body {
  background-color: #ffd166;
  font-size: xx-large;
}

.modal-header {
  background-color: #06d6a0;
  font-size: xx-large;
}

.page-content {
  background: rgb(6, 214, 160);
  background: linear-gradient(
    180deg,
    rgba(6, 214, 160, 1) 0%,
    rgba(255, 209, 102, 1) 37%,
    rgba(239, 71, 111, 1) 100%
  );
  min-height: 100vh;
  font-family: "Oxygen", sans-serif;
}

.event-card {
  background: rgb(6, 214, 160);
  background: linear-gradient(
    180deg,
    rgba(6, 214, 160, 1) 0%,
    rgba(255, 209, 102, 1) 37%,
    rgba(239, 71, 111, 1) 100%
  );
  max-height: 55vh;
  overflow: hidden;
}

.user-card {
  background: rgb(6, 214, 160);
  background: linear-gradient(
    180deg,
    rgba(6, 214, 160, 1) 0%,
    rgba(255, 209, 102, 1) 37%,
    rgba(239, 71, 111, 1) 100%
  );
  max-height: 55vh;
  overflow: hidden;
}

input,
li {
  background: rgb(6, 214, 160);
  background: linear-gradient(
    180deg,
    rgba(6, 214, 160, 1) 0%,
    rgba(255, 209, 102, 1) 50%
  );
}

nav ul li a {
  font-size: larger;
}

nav ul li a:visited {
  color: #ef476f;
}
